<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify a hall</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <label>Name of the hall:
            <input type="text" name="name" value="{{ hall.name }}" required>
        </label>
        <label>Capacity (in number of seats):
            <input type="text" name="capacity" value="{{ hall.capacity }}" required>
        </label>
        <label>Is a projector available in the hall?
            <label for="projector_yes">Yes</label>
            <input type="radio" id="projector_yes" name="projector_available" value="True" required {% if hall.projector_available %}checked{% endif %}>
            <label for="projector_no">No</label>
            <input type="radio" id="projector_no" name="projector_available" value="False" required {% if not hall.projector_available %}checked{% endif %}>
        </label>
        <input type="submit" value="Modify">
    </form>
</body>
</html>